*{
    margin: 0px;
    padding: 0px;
}
/* setting logo to center and giving style to it*/
.logo{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    /* justify-content: center; */
}
body{
    background-image: linear-gradient(rgb(92,100,221),purple);
}
.container{
    display: block;
    margin: auto;
    max-width: 955px;
    height: 70vh;
    border: 3px solid black;
   
}
.message{
    background-color: rgb(128, 128, 128);
    display: flex;
    margin: 10px 15px;
    max-width: 300px;
    
    border: 3px solid red ;
    color: aqua;
    background-color: rgb(51, 10, 10);
    border-radius: 8px;
    padding: 5px 3px;
   
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    top:5px ;
    display: block;
    max-width: 985px;
    width: 100%;
    margin: auto;
    text-align: center; 
    position: relative;
    left: -4px;
}
#messageInp{
    max-width: 912px;
    width: 100%;
    height: 26px;
    border-radius: 8px;
    color: blue;
}
#send-container button{
    position: relative;
    left: 5px;
    height: 30px;
    width: 38px;
    border-radius: 7px;

}